@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #f5ba13;
    color: #fff;
    padding: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}

footer p {
    color: #333;
}


